

:root {
    /* Light mode colors */
    --mainWhite: #FFFAFA;
    --lightkeyBGColor: #C5C9CF;
    --keyTextColor: #FFFAFA; 

    /* Dark mode colors */
    --keyGuessColor: #CDD9E5;
    --keyBackground: #818384;
    --htmlBackground: #242526;
    --accentColor-1: #DCBDFB;
    --accentColor-2: #96D0FF;
    --accentColor-3: #F47067;
    --accentColor-4: #F69D50;
    --accentColor-5: #8DDB8C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 9;
}

html {
    background-color: var(--htmlBackground);
}

.page-wrapper {
    position: relative;
}

.main-container {
    height: 90vh;
    margin-top: 2vh;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--keyBackground);
    border-radius: 2px;
}


/* || FIRST container */

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--lightkeyBGColor);
}

.top-container h1{
    line-height: 3.0rem;
}

.settings-container {
    margin-bottom: 8px;
}

.header-title {
    color: var(--accentColor-5);
}

/* || SECOND container */
.phrase-container {
    color: var(--mainWhite);
    font-size: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.word-phrases {
    display: flex;
    align-items: flex-end;
}
.letter-box {
    border: 1px solid var(--lightkeyBGColor);
    min-height: 50px;
    min-width: 38px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer {
    color: var(--mainWhite);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: capitalize;
    color: var(--accentColor-1);
}

.non-visible {
    visibility: hidden;
}

.blank {
    border: none;
}

/* || THIRD container */
.play-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.bottomm-info {
    margin-bottom: 3vh;
}

.expand-info {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
}

/* Guesses */
.guess-boxes-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.guess-box {
    flex: 1 1;
    border: 2px solid var(--lightkeyBGColor);
    margin-top: 10px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2.2rem;
    color: var(--accentColor-3);
}

.deduction {
    font-size: x-small;
}

.box-3 {
    color: var(--accentColor-4);
}

/* Bankroll */
#bankroll {
    min-width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--accentColor-5);
}

/* Letter bank */
.letters-div {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    column-gap: 5px;
}

.letter {
    min-height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--lightkeyBGColor);
    text-transform: capitalize;
    transition: .2s;
    flex: 1 1;
}
.highlight {
    background-color: var(--accentColor-2);
}

.correct {
    background-color: var(--accentColor-4);
    opacity: .4;
}

.incorrect {
    background-color: var(--accentColor-3);
    opacity: .4;
}

.enter {
    min-height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    border-radius: 4px;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--lightkeyBGColor);
    text-transform: capitalize;
    transition: .2s;
    flex: 1.75 1.75;
}

.spacer-half {
    flex: 0.5 1;
}

.letter:hover,
.enter:hover {
    opacity: .8;
}

sup {
    font-size: 10px;
    vertical-align: top;
    position: relative;
    top: -.5rem;
}

/* || Button styles */
.settings-btn {
    background-color: var(--lightkeyBGColor);
    border: none;
    border-radius: 2px;
    margin: 10px;
}
.settings-btn:hover {
    cursor: pointer;
}

/* || Font and text color styles */
header {
    font-size: 1.5rem;
    color: var(--mainWhite);
}

h1 {
    color: var(--mainWhite);
}

/* || JS manipulated classes */
.money {
    color: var(--accentColor-5);
}

#hint {
    color: var(--mainWhite);
    font-size: 1.2rem;
    margin-bottom: 10px;
}