

:root {
    /* Dark Default  Theme*/
    --letterColor: #242526;
    --mainFontColor: #FFFAFA;
    --keyAndBorderBGColor: #C5C9CF;
    --mainBorder: #818384;
    --htmlBackground: #242526;
    --accentColor-1: #DCBDFB;
    --accentColor-2: #96D0FF;
    --accentColor-3: #F47067;
    --accentColor-4: #F69D50;
    --accentColor-5: #8DDB8C;
    --overlayBackground: 36, 37, 38;
}

html[data-theme="dark"] {
    --letterColor: #242526;
    --mainFontColor: #FFFAFA;
    --keyAndBorderBGColor: #C5C9CF;
    --mainBorder: #818384;
    --htmlBackground: #242526;
    --accentColor-1: #DCBDFB;
    --accentColor-2: #96D0FF;
    --accentColor-3: #F47067;
    --accentColor-4: #F69D50;
    --accentColor-5: #8DDB8C;
    --overlayBackground: 36, 37, 38;
}

html[data-theme="light"] {
    --letterColor: #242526;
    --mainFontColor: #242526;
    --keyAndBorderBGColor: #9C9FA3;
    --mainBorder: #494949;
    --htmlBackground: #F6F7F8;
    --accentColor-1: #A704BD;
    --accentColor-2: #005AB3;
    --accentColor-3: #CC0033;
    --accentColor-4: #B35900;
    --accentColor-5: #1ABD04;
    --overlayBackground: 246, 247, 248;
}


/* 
    ======================
    || MAIN DOC FORMATS ||
    ======================
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 9;
}

html {
    background-color: var(--htmlBackground);
    touch-action: manipulation;
}

.page-wrapper {
    position: relative;
}

.main-container {
    height: 90vh;
    margin-top: 2vh;
}

.content-container {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--mainBorder);
    border-radius: 2px;
}


/* 
    =======================
    || HEADAER CONTAINER ||
    =======================
*/
.top-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50px 50px;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid var(--mainBorder);
}

.order-first {
    justify-self: center;
    grid-column: 1 / 3;
    order: -1;
}

.top-container h1{
    line-height: 3.0rem;
}

.header-title {
    color: var(--accentColor-5);
}

/* 
    ======================
    || PUZZLE CONTAINER || 
    ======================
*/
.category {
    font-size: 2.2rem;
    color: var(--mainFontColor);
    text-align: center;
}

.phrase-container {
    font-size: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
}

.word-phrases {
    display: flex;
}

.letter-box,
.blank-box {
    border: 1px solid var(--keyAndBorderBGColor);
    min-height: 50px;
    min-width: 38px;
    flex-basis: 10px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.letter-box:first-child {
    border-bottom: 3px solid var(--accentColor-3);
}

.added-guess-input {
    font-style: normal;
    position: absolute;
    left: 0;
    right: 0;
    color: var(--accentColor-4);
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.answer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: capitalize;
    color: var(--accentColor-1);
}

.non-visible {
    visibility: hidden;
}

.blank {
    border: none;
}

/* 
    =========================
    || BANKROLL & ALPHABET ||
    =========================
 */
.play-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-info {
    margin: 1vh 0;
    position: relative;
}

.position-bankroll {
    position: relative;
}

#bankroll {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accentColor-5);
    margin-bottom: 2vh;
}
/* keyboard letters */
.letters-div {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    column-gap: 4px;
}

.letter {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: var(--keyAndBorderBGColor);
    user-select: none;
    height: 80px;
    font-weight: 600;
    position: relative;
    color: var(--letterColor) !important;
}

.enter,
.make-guess-btn,
.delete-btn {
    height: 80px;
    border-radius: 4px;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--keyAndBorderBGColor);
    text-transform: capitalize;
    flex: 1.75 1.75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    color: #242526;
    color: var(--letterColor) !important;
    position: relative;
}

.delete-btn {
    flex: 1 1;
}

.spacer-third {
    flex: 0.33 1;
}

/*  letter highlighting */
.highlight {
    background-color: var(--accentColor-2);
}

.guess-highlight {
    background-color: var(--accentColor-4);
}

.correct {
    opacity: 0.4 !important;
    background-color: var(--accentColor-5);
}

.incorrect {
    opacity: 0.4 !important;
    background-color: var(--accentColor-3);
}

/* letter dollar values */
sup {
    vertical-align: top;
    position: relative;
    top: -.5rem;
}

/* 
    ===================
    || BUTTON STYLES ||
    ===================
*/
.settings-btn {
    background-color: var(--htmlBackground);
    border: 1px solid var(--mainFontColor);
    border-radius: 10px;
    color: var(--mainFontColor);
    padding-top: 3px;
    margin: 10px;
}

.settings-btn:hover {
    cursor: pointer;
}

/* 
    =================
    || FONT & TEXT ||
    =================
*/
header {
    font-size: 1.5rem;
    color: var(--mainFontColor);
}

h1 {
    color: var(--mainFontColor);
    font-size: 2.75rem;
}

/* 
    ==========
    || HINT ||
    ==========
*/
.hint-container {
    display: none;
    text-align: center;
    max-height: 3vh;
}

.hint {
    color: var(--mainFontColor);
    font-size: 1.1rem;
    position: absolute;
    visibility: hidden;
}

.hint-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 900;
    padding: 3px 5px 3px 0;
    color: var(--accentColor-2);
    border-color: var(--accentColor-2);
}

.hint-btn:hover {
    opacity: 0.7;
}

.hint span {
    color: var(--accentColor-2);
}

.visible {
    position: relative;
    visibility: visible;
}

.category-hint {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    ====================
    || MAKING GUESSES ||
    ====================
*/

.guessbox-highlight {
    border: 2px solid var(--accentColor-4);
}

.guess-mode-current-guess-box {
    border: 1px solid var(--accentColor-4);
    box-shadow: 0 0 3px 3px var(--accentColor-4);
}

/* 
    ============
    || ALERTS ||
    ============
*/ 
.alert-div {
    display: none;
    margin: 10px auto;
    font-size: 1.2rem;
    color: var(--accentColor-3);
}

.add-alert {
    display: table;
}

/* 
    ==============================
    || CORRECT LETTER ANIMATION ||
    ==============================
*/
.correct-letter-fade {
    animation: fade .8s;
    animation-iteration-count: 1;
}

@keyframes fade {
    from {background-color: var(--accentColor-1);}
    to {background-color: var(--htmlBackground);}
}


/* 
    ======================
    || HOW TO PLAY INFO ||
    ======================
*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    background-color: var(--htmlBackground);
    display: none;
    overflow-y: scroll;
    color: var(--mainFontColor);
    opacity: 0;
    transition: opacity .15s linear;
}

.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 30px auto 0;
    background-color: var(--htmlBackground);
}

.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--mainBorder);
}

.overlay-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: 0;
    box-sizing: border-box;
}

.close-settings {
    position: absolute;
    right: 0;
    user-select: none;
    cursor: pointer;
}

.overlay-content-container {
    height: 100%;
}

.instruction-headers {
    font-size: 1.2rem;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.game-instructions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.7rem;
}

.example-instructions {
    display: flex;
    justify-content: flex-start;
    column-gap: 2vw;
    text-align: center;
}

.lineup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight-example {
    background-color: var(--accentColor-2)
}

.correct-example {
    background-color: var(--accentColor-5);
    opacity: .4;
}

.incorrect-example{
    background-color: var(--accentColor-3);
    opacity: .4;
}

.example-letter {
    max-width: 35px;
    width: 100%;
    min-height: 48px;
    height: 100%;
}

.guess-highlight-example {
    background-color: var(--accentColor-4);
    min-width: 90px;
    max-height: 60px;
}

.no-color {
    background-color: var(--keyAndBorderBGColor);
}

.no-hover:hover {
    pointer-events: none;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--mainBorder);
}

.game-play-format {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 5vw;
    align-items: center;
}

.normal-line-height {
    line-height: normal;
}

.capitalize {
    text-transform: uppercase;
}

.line-format {
    margin-bottom: 40px;
}

/* 
    ========================
    || POTENTIAL PURCHASE || 
    ========================
*/
#potential-purchase {
    color: var(--accentColor-3);
    text-align: center;
    font-size: .7rem;
    position: absolute;
    top: 60%;
    right: -25px;
}

/* 
    ======================
    || GAME STATS POPUP ||
    ======================
*/
.overlay-game-win {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(var(--overlayBackground), 0.7);
    display: none;
}
.game-stats-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 25vw;
    height: 30vh;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px var(--mainBorder);
    background-color: var(--htmlBackground);
    color: var(--mainFontColor);
    opacity: 1.0;
    overflow-y: auto;
}

.money-streak {
    color: var(--accentColor-5)
}

.stats-header {
    border: none;
    padding-top: 3vh;
}

.close-stats {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    cursor: pointer;
}

.streak-total {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 3vh;
    font-size: 3.0rem;
    text-transform: uppercase;
}

.game-play {
    display: block;
}

.highest-streak {
    text-align: center;
}

.highest-streak-header {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

/* 
    ===================
    || MEDIA QUERIES ||
    ===================
*/
@media only screen and (max-width: 1000px) {
    .game-stats-overlay {
        min-width: 50%;
    }
}

@media only screen and (max-width: 815px) {
    .overlay-content {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media only screen and (max-width: 680px) {
    .letter-container {
        margin: 0 8px;
    }
    .game-stats-overlay {
        min-width: 90%;
    }

    .top-container {
        display: flex;
        justify-content: space-between;
    }

    .order-first {
        order: 0;
    }
}

@media only screen and (max-width: 650px) {
    .format-on-media {
        line-height: normal;
    }

    .phrase-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .word-phrases {
        flex-wrap: wrap;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin: 4px 0px;
    }

    .blank {
        display: none;
    }
    
}

@media only screen and (max-width: 560px) {
    /* smaller than ipad */
    .letter,
    .make-guess-btn {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .letter-box {
        flex-basis: 20px;
    }
}

@media only screen and (max-width: 460px) {
    /* mobile phones */
    .phrase-container {
        min-height: 32vh;
        row-gap: 7px;
    }

    .hint-btn svg {
        width: 16px;
    }
    
    .category-hint{
        align-items: flex-start;
        align-items: center;
    }

    .category {
        font-size: 1.8rem;
    }

    #bankroll {
        font-size: 1.3rem;
    }

    header {
        font-size: 1.4rem;
    }

    .main-container {
        margin-top: 0;
    }

    sup {
        font-size: 8px;
        font-weight: 900;
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .make-guess-btn,
    .letter,
    .enter {
        font-size: 10px;
    }

    .delete-btn svg {
        width: 20px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .letter,
    .make-guess-btn,
    .enter,
    .delete-btn {
        height: 60px;
    }

    .letter-box {
        min-height: 50px;
        margin: 2px;
    }

    .letter-box:first-child {
        border-bottom: 2px solid var(--accentColor-3);
    }
}

/* 
    =================
    || TRANSITIONS ||
    =================
*/
.fade {
    opacity: 1.0;
}

.translate {
    transform: translate(0, -30px);
    transition: transform .2s ease-out;
}