

:root {
    /* Light mode colors */
    --mainWhite: #FFFAFA;
    --lightkeyBGColor: #C5C9CF;
    --keyTextColor: #FFFAFA; 

    /* Dark mode colors */
    --keyGuessColor: #CDD9E5;
    --keyBackground: #818384;
    --htmlBackground: #242526;
    --accentColor-1: #DCBDFB;
    --accentColor-2: #96D0FF;
    --accentColor-3: #F47067;
    --accentColor-4: #F69D50;
    --accentColor-5: #8DDB8C;
}

/* || MAIN DOC FORMATS || */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 9;
}

html {
    background-color: var(--htmlBackground);
}

.page-wrapper {
    position: relative;
}

.main-container {
    height: 90vh;
    margin-top: 2vh;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--keyBackground);
    border-radius: 2px;
}


/* || FIRST container || */
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--lightkeyBGColor);
}

.top-container h1{
    line-height: 3.0rem;
}

.settings-container {
    margin-bottom: 8px;
}

.header-title {
    color: var(--accentColor-5);
}

/* || SECOND container || */
.category {
    font-size: 2.2rem;
    color: var(--mainWhite);
    text-align: center;
}

.phrase-container {
    color: var(--mainWhite);
    font-size: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.word-phrases {
    display: flex;
    align-items: flex-end;
}

.letter-box,
.blank-box {
    border: 1px solid var(--lightkeyBGColor);
    min-height: 50px;
    min-width: 38px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.added-guess-input {
    font-style: normal;
    position: absolute;
    left: 0;
    right: 0;
    color: var(--accentColor-4);
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.answer {
    color: var(--mainWhite);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: capitalize;
    color: var(--accentColor-1);
}

.non-visible {
    visibility: hidden;
}

.blank {
    border: none;
}

/* || THIRD container || */
.play-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.expand-info {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
}

.bottom-info {
    margin-bottom: 3vh;
}

/* Guesses */
.guess-boxes-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.guess-box {
    flex: 1 1;
    border: 2px solid var(--lightkeyBGColor);
    margin-top: 10px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2.2rem;
}

.deduction {
    font-size: x-small;
}

.guess-outcome {
    text-transform: capitalize;
}

/* Bankroll */
#bankroll {
    min-width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accentColor-5);
}

/* Letter bank */
.letters-div {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    column-gap: 5px;
}

.letter {
    min-height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    border-radius: 4px;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--lightkeyBGColor);
    text-transform: capitalize;
    transition: .2s;
    flex: 1 1;
}

.enter,
.make-guess-btn,
.delete-btn {
    min-height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    border-radius: 4px;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--lightkeyBGColor);
    text-transform: capitalize;
    transition: .2s;
    flex: 1.75 1.75;
}

.delete-btn {
    flex: 1 1;
}

.spacer-third {
    flex: 0.33 1;
}

.letter:hover,
.enter:hover,
.delete-btn:hover,
.make-guess-btn:hover {
    opacity: .8;
}

/*  letter highlighting */
.highlight {
    background-color: var(--accentColor-2);
}

.guess-highlight {
    background-color: var(--accentColor-4);
}

.correct {
    background-color: var(--accentColor-5);
    opacity: .4;
}

.incorrect {
    background-color: var(--accentColor-3);
    opacity: .4;
}

.incorrect-guess {
    color: var(--accentColor-3);
}

.correct-guess {
    color:  var(--accentColor-5);
}

.incorrect:hover,
.correct:hover {
    opacity: .4;
}

/* letter dollar values */
sup {
    font-size: 9px;
    vertical-align: top;
    position: relative;
    top: -.5rem;
}

/* || BUTTON STYLES || */
.settings-btn {
    background-color: var(--lightkeyBGColor);
    border: none;
    border-radius: 2px;
    margin: 10px;
}
.settings-btn:hover {
    cursor: pointer;
}

/* || FONT & TEXT || */
header {
    font-size: 1.5rem;
    color: var(--mainWhite);
}

h1 {
    color: var(--mainWhite);
    font-size: 2.75rem;
}

/* || HINT || */
#hint {
    color: var(--mainWhite);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#hint span {
    color: var(--accentColor-2);
}

.hint-guess {
    text-transform: capitalize;
    color: var(--accentColor-2);
}

/* || MAKING GUESSES || */
.guess-guess {
    text-transform: capitalize;
    color: var(--accentColor-4);
}

.guessbox-highlight {
    border: 2px solid var(--accentColor-4);
}

.guess-mode-current-guess-box {
    border: 1px solid var(--accentColor-4);
    box-shadow: 0 0 3px 3px var(--accentColor-4);
}

/* || ALERTS || */ 
.alert-div {
    display: table;
    margin: 10px auto;
    font-size: 1.2rem;
    padding: 5px;
    color: var(--accentColor-3);
}

/* || CORRECT LETTER ANIMATION || */
.correct-letter-fade {
    animation: fade .8s;
    animation-iteration-count: 1;
}

@keyframes fade {
    from {background-color: var(--accentColor-1);}
    to {background-color: var(--htmlBackground);}
}